body {
    background-color: #f5f6f9;
    padding:40px;
 }
 /* .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); } */
#mainContainer {
    width: 75%;
    align-content: center;
    margin:auto;
    position: relative;
}
.imageContainer, .replyContainer {
    border:0px solid black;
    border-radius: 10px;
    background-color: white;
     /* min-height: 100px;
    max-height: 100px; */
    height: 120px;
    overflow: scroll;
    padding: 20px 30px; 
    float:right;   
}
.imageContainer {
    margin-bottom:20px;
    width:100%;
    /* padding-bottom: 40px; */
}
.replyContainer {
    margin-bottom:20px;;
    width:90%;
}
.likeContainer {
    background-color: #f5f6f9;
    float: left;
    position: relative;
    width: 32px;
    height: 100px;
    transform: translate(-7px, 0px);
    margin-right: 15px;
     border: 0px solid black;
    border-radius: 10px;
    height: 75px;


}
.plusBtn, .minusBtn {
    text-align: center;
    width:100%;
    margin:auto;
    background-color: none;
    border:0px solid black;
    background-color: transparent;
    cursor: pointer;

}
.plusBtn {
    position:absolute;
    top:0;
 }
.minusBtn {
    position:absolute;
    bottom:0;
 
}
.totalLikes {
position:relative;
top:40%;
width:100%;
text-align: center;
 display: inline-block;
}
img {
    width: 30px;
    height: 30px;
    vertical-align: -10px;

}
.totalLikes {
    cursor: default;
}
.nameAndWhen {
    display: inline-block;
    padding-bottom:10px;
}
.messageText {
    line-height: 1.3;
    margin-left: 45px;

}
