body {
    background-color: #f5f6f9;

    padding: 40px;
 }
/* * {
    border:1px solid red;
} */
 /* .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); } */
#mainContainer {
    width: 75%;
    align-content: center;
    margin-left: 20%;
    position: relative;
}
.imageContainer, .replyContainer {
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    /* height: 120px; */
    overflow: scroll;
    padding: 20px 30px;
    /* float: right; */
    height: 115px;
    position: relative;
}
.imageContainer {
    margin-bottom: 20px;
    max-width: 650px;
    /* width: 100%; */
    /* padding-bottom: 40px;*/
}
.replyContainer {
    margin-bottom: 20px;
    max-width: 588px;
    margin-left: 62px;
    min-width: 124px;
}
 .line {
    border-left: 2px solid rgba(149, 145, 145,.5);
    height: 176px;
    position: absolute;
    float: left;
    transform: translate(-100px, -30px);
    z-index: 2;
 }
.likeContainer {
    background-color: #f5f6f9;
    float: left;
    position: sticky;
    top: 0;
    width: 32px;
    height: 100px;
    transform: translate(-7px, 0px);
    margin-right: 15px;
    border: 0px solid black;
    border-radius: 10px;
    height: 90px;
}
.plusBtn, .minusBtn {
    text-align: center;
    width:100%;
    margin:auto;
    background-color: none;
    border:0px solid black;
    background-color: transparent;
    cursor: pointer;
    color: hsl(237deg 42% 52%);
    font-weight: bold;
}
.plusBtn {
    position:absolute;
    top: 7px;
 }
.minusBtn {
    position:absolute;
    bottom: 7px;
    letter-spacing: -1px;
}
.totalLikes {
position:relative;
top:40%;
width:100%;
text-align: center;
 display: inline-block;
 color:#5854a4;
  font-weight: bold;
}
.mainImages {
    width: 30px;
    height: 30px;
    vertical-align: -10px;

}
.totalLikes {
    cursor: default;
}
.nameAndWhen {
    display: inline-block;
    padding-bottom:10px;
    margin-left: 10px;

}
.messageText {
    line-height: 1.3;
    margin-left: 45px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size:16px;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
}

.whenPostedStyles {
    color:grey;
}
.usernameStyle {
    font-weight: bold;
    
}
.replyBtn {
    float: right;
}
#me {
border: 0px solid black;
    border-radius: 50%;
}
.delAndEdit{
    float:right;
}
.editText,.delText {
    display:inline;
    padding-left:5px;
}
.delText {
    color:#ED6368;
}
.mentions {
    color: hsl(237deg 42% 52%);
    font-weight: bold;
}
.delBtn, .editBtn {
    border: none;
    background: transparent;
    cursor: pointer;
}
#meBigger {
    width: 40px;
    height: 40px;
    vertical-align: -10px;
    border:0px solid black;
    border-radius: 50%;
    float:left;
    margin-left: -10px;

}
#addCommentBox {
    width:100%;
    text-align: center;
    
}
#addComment {
    padding: 10px 15px;
    width: 65%;
    margin-right: 50px;
    height: 58px;
    border: 1px solid grey;
    border-radius: 5px;
 }
 #send {
    float: right; 
    position: absolute;
    /* top: 1px; */
    /* right: 41px; */
    /* margin-right: 200px; */
    transform: translate(-42px, 1px);
    margin-top: -54px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: #5557b5;
    padding: 13px 23px;
    width: 85px;
    margin-right: -4px;
    margin-top: -1px;
 }