body {
    background-color: #f5f6f9;
    padding-top: 20px;

    width: 90%;
 }
/* * {
    border:1px solid red;
} */

 /* .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); } */
#mainContainer {
    width: 100%;
    align-content: center;
    /* margin-left: 20%; */
    /* padding-left: 25%; */
    display: flex;
    /* padding-left: 300px; */
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 0px 40px 10px;
}
.imageContainer, .replyContainer {
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    /* height: 120px; */
    overflow: scroll;
    padding: 20px 30px;
    /* float: right; */
    height: 115px;
 }
.imageContainer {
    margin-bottom: 20px;
    max-width: 650px;
    /* width: 100%; */
    /* padding-bottom: 40px;*/
}
.replyContainer {
    margin-bottom: 20px;
    max-width: 588px;
    margin-left: 62px;
}
 .line {
    border-left: 2px solid  rgba(149, 145, 145,.5);
    height: 176px;
    position: absolute;
    transform: translate(-100px, -30px);
    z-index: 2;
 }
.likeContainer {
    background-color: #f5f6f9;
    float: left;
    position: sticky;
    top: 0;
    width: 32px;
    height: 100px;
    transform: translate(-7px, 0px);
    margin-right: 15px;
    border: 0px solid black;
    border-radius: 10px;
    height: 90px;
}
.plusBtn, .minusBtn {
    text-align: center;
    width:100%;
    margin:auto;
    background-color: none;
    border:0px solid black;
    background-color: transparent;
    cursor: pointer;
    color: hsl(237deg 42% 52%);
    font-weight: bold;
}
.plusBtn {
    position:absolute;
    top: 7px;
 }
.minusBtn {
    position:absolute;
    bottom: 7px;
    letter-spacing: -1px;
}
.totalLikes {
position:relative;
top:40%;
width:100%;
text-align: center;
 display: inline-block;
 color:#5854a4;
  font-weight: bold;
}
.mainImages {
    width: 30px;
    height: 30px;
    vertical-align: -10px;

}
.totalLikes {
    cursor: default;
}
.nameAndWhen {
    display: inline-block;
    padding-bottom:10px;
    margin-left: 10px;

}
.messageText {
    line-height: 1.3;
    margin-left: 45px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size:16px;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
}

.whenPostedStyles {
    color:grey;
}
.usernameStyle {
    font-weight: bold;
    cursor:pointer;
    
}
.replyBtn {
    float: right;
    background: none;
    border: none;

    cursor: pointer;}
#me {
border: 0px solid black;
    border-radius: 50%;
}
.delAndEdit{
    float:right;
    margin-top: 6px;

}
.editText,.delText {
    display:inline;
    padding-left:5px;
}
.delText {
    color:#ED6368;
}
.mentions {
    color: hsl(237deg 42% 52%);
    font-weight: bold;
    cursor:pointer;
}
.delBtn, .editBtn {
    border: none;
    background: transparent;
    cursor: pointer;
}
#meBigger {
    width: 40px;
    height: 40px;
    vertical-align: -10px;
    border: 0px solid black;
    border-radius: 50%;
     margin-left: -10px;
}
#addCommentBox {
    width:100%;
    text-align: center;
    
}
#addComment {
    padding: 10px 0px;
    width: 70%;
    margin-right: 95px;
    height: 58px;
    margin-top: -39px;
    margin-left: 37px;
    border: 1px solid grey;
    border-radius: 5px;
    resize:none;
 }
 #send {
    border: 0px solid black;
    border-radius: 10px;
    background-color: #5557b5;
    float: right;
    padding: 13px 23px;
    margin-top: -84px;
    margin-right: -15px;
    cursor: pointer;
    color: white;
 }
 #sendContainer {
    width:100%;
    position:relative;
 }

 .textAreaContainer {
    width:100%;
    margin-left: 40px;

 }
 @media screen and (max-width:575px) {

    .delBtn {
        display: block;
        
    }
    .editBtn {
        display: block;
        margin-bottom:10px;
    }
    .delAndEdit {
        display: block;

        margin-top: -7px;
        margin-right: -33px;
    }
    .replyBtn {
        margin-right: -17px;

    }
    /* #send {
        padding: 9px 18px;
        margin-right: -15px;
    } */
    #addComment {
        padding: 10px 0px;
    }
 }